

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: blue;
  font-weight: bold;
}

.container1 {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}


