.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 10px 15px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0;
            }

                .cta-title{
                    margin: 0 auto 5px;
                    padding: 0;

                    color: black;

                }

                .cta-desc{
                    padding: 0;
                    color: black;

                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }


@media (max-width: 700px){
    .bs-calltoaction > .row{
        display:inline-block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-info .cta-button .btn,{
    border-color:#fff;
}

.requestButton{
    margin: 5px;
}